<!-- app/views/grades/select_course.html.erb -->

<h1>Seleccione un Curso</h1>

<%= form_tag(select_subject_grades_path, method: :get) do %>
  <div class="form-group">
    <%= label_tag 'course_id', 'Curso:' %>
    <%= select_tag 'course_id', options_for_select(@courses.map { |course| [course.name, course.id] }), include_blank: 'Seleccione un curso' %>
  </div>

  <%= submit_tag 'Continuar', class: 'btn btn-primary' %>
<% end %>
