/* app/assets/stylesheets/dashboard.css */

body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    height: 100vh; /* Establece la altura completa del viewport */
  }
  
  .dashboard {
    display: flex;
    flex-direction: row; /* Alinea los elementos horizontalmente */
    height: 100%; /* Ocupa el 100% de la altura del viewport */
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
  }
  
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo h1 {
    font-size: 24px;
    color: #fff;
  }

  .dropdown {
    margin-left: 0px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 14px;
    margin-left: 16px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
  }
  
  
  
  .content {
    flex-grow: 1; /* Hace que el contenido principal ocupe el espacio restante */
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    width: 1360px;
  }
  